@media only screen and (min-width: 38rem) {
    button#hamburger {
        display: none;
    }

    header {grid-template-columns: 60px auto 44px ;}

    nav {
        grid-template-rows: 1fr;
    }

    nav ul {
        display: flex;
    }

    nav ul li a {
        border: none;
        padding: .5rem 2rem;
    }

    nav ul li:last-child a {
        border: none;
    }

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }
    /************************** PRODUCT BUTTONS **************************/
.mybuttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px;
}
/************************** PRODUCT CARDS **************************/
#products {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/************************** POPUPS **************************/
#solarsteps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;}
}
#solarstepsdialog {
    margin: auto 15vw;
    width: 60vw;

}