:root {
    --background-color: #050517;
    --text-color: #EFC88B;
}

* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

body {
    font-family: "Cormorant Upright", serif;
    font-weight: 400;
    font-size: medium;
    margin: 0 auto;
    max-width: 1000px;
    /* background-color: var(--background-color); */
}

p {
    color: var(--text-color);
    margin: 1rem;
    padding: 10px;
    border: 0.5px solid red;
    
}

h1, h2 {
    color: var(--text-color);
    background-color: var(--background-color);
    border: 1px solid yellow;
}

h1 {
    padding: 1rem;
    text-align: center;
}

section{
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1.5rem;
}

section h2 {
    margin: 0.5rem;
}

section ul {
    border: 0.5px solid red;
}


.wireframe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.wireframe h2 {
    grid-column: 1/3;
}
