:root {
    --primary-color: #E3B505;
    --secondary-color: #F0E68C;
    --background-color: #399cfe;
    --text-color: black;
    --font-family: "Roboto", "Opens Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, nav, footer {
    max-width: 1000px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 80px auto 44px;
    align-items: end;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid black;
}

header img {
    display: block;
    padding: 16px 10px;
}

header span:first-child {
    font-size: 2rem;
}
header span:nth-child(2) {
    font-size: 1rem;
}


nav {
    background-color: var(--background-color);
}

#hamburger::before {
    content: "\2630"; /* Unicode character for a hamburger menu */
}

#hamburger {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: 0.25rem 2vw;
}

ul.menuLinks li a {

    display: block;
    padding: 0.75rem 2vw;
    color: var(--text-color);
    text-decoration: none;
    /* font-size: 2rem; */
}

ul.menuLinks li.active a {
    background-color: white;
}

ul.menuLinks {
    list-style-type: none; /* This can also be set as list-style: none; */
}

#hamburger.open::before{
    content: "x" ;
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul{
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

footer {
    background-color: var(--background-color);
    display: block;
}

footer section {
    padding: 2rem 10px;
}
footer section.social {
    display: flex;
    justify-content: center
}

footer img {
    width: auto;
    height: 44px;
    margin: 0 10px;
}
footer p {
    margin: .25rem;
}

div.theButtons {
    width: 100%; 
    text-align: center;
}

div.theButtons button.active {
    background-color: var(--background-color)
}

div.theButtons button {
  margin: 0 1rem; 
  padding: .7rem 1rem;
  border-radius: 10px;
  border: 1px solid #666;
}
div#members {
  margin: 0 2vw;
}
/*GRID layout here*/
div.grid {
  display: flex;
  flex-wrap: wrap;
  gap:8px;
  justify-content: center;
  
}
div.grid section {
  text-align: center;
  margin: 1rem 0;
  border: solid 1px #aaa;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}

div.grid img:first-child {
    width: 100%; 
    height: auto;
}

div.grid h3 {
    margin: .2rem 0;
}

div.grid p {
    margin: .2rem 0;
}

/*LIST layout here*/
div.list section {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  margin: .5rem 0;
  padding: 5px;
  border: solid 1px #aaa;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}

div.list img:first-child {
    display: none;
}

.hero {
    max-width: 1200px;
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}
.hero a{
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: block;
    width: 100px;
    text-align: center;
    color: white;
    border: solid 1px #000;
    border-radius: 5px;
    padding: 5px;
    background-color: #2a384a;
}

section.ew {
    margin: .5rem 10px;
}

section.ew div {
    background-color: #eee;
}

section.ew h2 {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 5px 10px;
}

div.events p{
    margin: .75rem 10px
}

div.weather div{
    display: flex;
}

div.weather p {
    font-family: Verdana, sans-serif;
    margin: .2rem 0;
    font-size: .75rem;
    color: var(--text-color);
}

#forecast p {
    margin: .5rem 10px;
    font-family: Verdana, sans-serif;
    color: var(--text-color);
}

#spot div {
    background-color: #eee;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}
#spot h2 {
    background-color: var(--background-color);
    margin: 0;
    padding: .3rem 0;
    font-size: 1.1rem;
}
#spot p {
    margin: 0;
    padding: .5rem;
}
#spot img {
    width: 100px;
    height: auto;
}

.mslvl aside {
    border: solid 1px #444;
    border-radius: 5px 20px;
    padding: 10px;
    background-color: #bed9d2;
    text-align: center;
    margin-bottom: 1rem;

    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    0% {
      opacity: 0%;
      margin-top: 50px;
      background-color: #aebb1a;
    }
    100% {
      opacity: 100%;
      margin-top: 0px;
      background-color: #bed9d2;
    }
  }

  #mlModal {
    position: relative;
    border: 2px solid #f27d80;
    border-radius: 8px;
    padding: .5rem;
    background-color: #eee;
    box-shadow: 0 0 15px #777;
    width: 90%;
}

#mlModal div {
    display: grid;
    grid-template-columns: auto 44px;
    border-bottom: dashed 1px #aaa;
  }
  
  #mlModal h4 {
    font-size: 1.5rem;;
    font-weight: 500;
    margin: 0;
  }
  #mlModal span {
    font-size: 1rem;;
  }

  ::backdrop {
    background-color: rgba(255, 255, 255, 0.75);
  }
  
  #mlModal button {
    width: 44px;
    height: 44px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ccc;
    font-size: 1.5rem;
  }

  .sbs {padding: 1rem;}
form.designOne {
    margin: 1rem 2%;
}
.designOne label {
    display: block;
    font-size: .8rem;
    color: #d4295f;
    padding-top: .2rem;
}
.designOne h3 {
    font-size: .9rem;
    color: #E07A5F;
    margin: 1.5rem 0 .2rem 0;
    border-bottom: 1px solid #eee;
}

.designOne input[type=text],
.designOne input[type=tel],
.designOne input[type=date],
.designOne input[type=email],
.designOne textarea,
.designOne select {
    display: block;
    margin: .1rem 0 1rem 0 ;
    padding: .3rem;
    border: 1px solid #999;
    border-radius: 4px;
    border-left-width: 5px;
    border-left-color:#555;
    font-size: 1rem;
    color: #3D405B;
    width: 250px;
}

.designOne input:required {border-left-color: #d70000;}
.designOne input:focus {border-left-color: black; outline:none;}
.designOne input:required:valid{border-left-color: green;}

.designOne input[type=submit] {
    border: 1px solid black;
    text-align: center;
    color: white;
    padding: .75rem 1.5rem;
    margin: 2rem 0;
    font-size: 1.2rem;
    -webkit-appearance: none;
    appearance: none;
    animation: color_change 2s infinite alternate linear;
}

  @keyframes color_change {
	0% {border-radius: 1px 20px; background-color: #3D405B;}
    100% {border-radius: 20px 1px; background-color: rgb(85, 126, 128);}
}
.designOne input:-webkit-autofill{
-webkit-text-fill-color: #3D405B;
}



#results {
background-color: #F4F1DE;
padding: 0 1rem;
margin: 10px;
border: 1px solid #E07A5F;
border-radius: 6px;
}