@media only screen and (min-width: 320px) {
    :root {
        --primary-color: #E3B505;
        --secondary-color: #F0E68C;
        --background-color: #399cfe;
        --text-color: black;
        --font-family: "Roboto", "Opens Sans", sans-serif;
    }

    header, main, nav, footer {
        max-width: 1000px;
        margin: 0 auto;
    }

    #hamburger {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: space-around;
    }

    ul.menuLinks a:hover {
        background-color: var(--secondary-color);
    }

    nav {
        grid-template-rows: 1fr;
    }

    section.ew {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 10px;
    }

    #spot {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }

    .sbs {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}