:root {
    --background-color: steelblue;
    --text-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

header, nav, main, footer {
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--background-color);
    color: var(--text-color);
}

header img {
    padding: px;
}

#menu {
    display: block;
    font-size: 2rem;
    text-decoration: none;
    background-color: var(--background-color  );
}
nav {
    background-color: black;
    grid-column: 1/3;
    display: flex;
    justify-content: space-around;
}

   

#course-work ul {
    text-align: left;
    /* padding: 2rem; */
    margin: 2rem;
}

#certificate-courses {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
}

footer {
    background-color: var(--background-color);
    color: #fff;
    /* padding: 1rem; */
    text-align: center;
}