:root {
    --background-color: steelblue;
    --text-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

header, nav, main, footer {
    max-width: 450px;
}

header {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-evenly;
}

header h1 {
    color: white;
}

#menu {
    display: block;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    color: white
}

#menu::before {
    content: "≡";
}

nav {
    background-color: var(--background-color);
}

.navigation {
    list-style: none;
    margin: 0 auto;
    /* max-width: 450px; */
    display:none
}

.navigation a:hover, .navigation a:active {
    color: white;
    background-color: var(--background-color);
}

.show .navigation {
    display: block;
}

#menu.show::before {
    content: X;
}

